<!-- Side Bar -->
<c-sidebar #sidebar="cSidebar" class="d-print-none sidebar sidebar-fixed" id="sidebar" visible>
    <c-container>
        <c-row class="justify-content-center mt-4 mb-4">
            <c-col xs="4">
                <c-sidebar-brand style="background-color: rgba(213, 224, 224, 0);" [brandFull]="{
                  src: 'assets/img/Logo2.png',
                  width: 100,
                  height: 40,
                  alt: 'CoreUI Logo'
                }">
                </c-sidebar-brand>
            </c-col>
            <c-col xs="4">
                <img cImg height="40" src="assets/img/Logo1.png" width="80" />
            </c-col>
        </c-row>
    </c-container>

    <perfect-scrollbar [config]="perfectScrollbarConfig">
        <c-sidebar-nav [navItems]="navItems" dropdownMode="close">
        </c-sidebar-nav>
    </perfect-scrollbar>
    <c-sidebar-toggler *ngIf="!sidebar.narrow" toggle="unfoldable" cSidebarToggle="sidebar"></c-sidebar-toggler>
</c-sidebar>
<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
    <!--app-header-->
    <app-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar"></app-header>
    <!--app-body-->
    <div class="body flex-grow-1 px-3">
        <c-container breakpoint="lg" class="h-auto">
            <router-outlet></router-outlet>
        </c-container>
    </div>
    <!--app footer-->
    <app-footer></app-footer>
</div>